.register,
.login,.back-button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #ccc;
  text-decoration: none;
  color: #000;
  transition: background-color 0.3s ease;
  font-size: 16px;
  margin-right: 20px 10px; 
  margin-bottom: 20px;
}

.register:hover,
.login:hover,.back-button:hover {
  background-color: #999;
}



