.back-button {
  display: block;
  width: fit-content;
  margin: 20px auto 0; /* Center the button horizontally */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #ccc;
  text-decoration: none;
  color: #000;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.back-button:hover {
  background-color: #999;
}

.register {
  background-color: white; 
  color: black; 
  border: 2px solid #04AA6D;
  text-decoration: none;
}

.register:hover {
  background-color: #04AA6D;
  color: white;
}

.login {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.login:hover {
  background-color: #008CBA;
  color: white;
}