/* header{
  background-color: #333;
  color: white;
  text-align: center;
  align-items: top right;
  margin: 0;
}

 
/* Landing */

.back {
  background-color: white; 
  color: black; 
  border: 2px solid #04AA6D;
  text-decoration: none;
}

.back:hover {
  background-color: #04AA6D;
  color: white;
}

.register {
    background-color: white; 
    color: black; 
    border: 2px solid #04AA6D;
    text-decoration: none;
  }
  
.register:hover {
    background-color: #04AA6D;
    color: white;
  }
  
.login {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
.login:hover {
    background-color: #008CBA;
    color: white;
  }

/* .introBox{
    background-color: yellow;
    border: 5px solid;
    text-align: center;
    width: 400px;
    color: black;
}

.content {
    background-color: blue;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } */
/* Register + LogIn */
/* .title{
    background-color: green;
    width: 300px;
    border: 1px solid;
    text-align: center;
    border-color: black;
    height:fit-content;
    margin: auto;
}
.form{
  height:fit-content;
  text-align: center;
  width: 300px;
  background-color: gray;
  border: 1px solid;
  border-color: black;
  text-align: center;
  margin: auto;
} */




